<link href="https://fonts.googleapis.com/css?family=B612&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<body class="text-center bg-dark text-light" style="font-family: 'B612', sans-serif;">
	<div class="container">
		<img src="/static/background.jpg" style="margin: 50px auto 50px auto"> 
	</div>

	<div class="container">
		<a class="btn btn-lg btn-primary" href="{{url_for('results')}}"> Predict Results </a>
	</div>
</body>